*
{
    box-sizing: border-box;
}

.message
{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.box
{
    width: 100px;
    height: 100px;
}

.boxBlue
{
    background-color: steelblue;
    transform: rotate(-90deg);
    transition: 1.5s;
    translate: -100px 0;
}

.boxGray
{
    background-color: dimgray;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: rotate(-90deg);
    transition: 1.5s;
    translate: 200px 0;
}

.boxYellow
{
    background-color: yellow;
    transform: rotate(90deg);
    transition: 1.5s;
    translate: -100px 0;
}

.boxBrown
{
    background-color: rosybrown;
    position: absolute;
    top: 50%;
    left:50%;
    transform: rotate(90deg);
    transition: 1.5s;
    translate: 200px 0;
}